body
{
  background-color: #505050;
}
.wrap
{
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #505050;
  margin: 0 auto;
}
.block
{
  width: 70%;
  height: 100px;
  position: relative;
  background-color: #909090;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  padding: 10px;
}
.inscription
{
  position: absolute;
  top: 15px;
  right: 10px;
}
.panier
{
  position: absolute;
  top: 50px;
  right: 113px;
}
.main
{
  height: 800px;
  width: 70%;
  display: block;
  margin: 0 auto;
}
.accueil_header
{
  position: absolute;
  top: 15px;
  left: 10px;
}
.ligne_cat
{
  display: block;
  margin: auto;
  margin-bottom: 10px;
  background-color: #909090;
  height: 100px;
  width: 70%;
  border-radius: 10px;
  box-shadow: 10px 10px 10px;
}
.ligne_cat2
{
  top: 255px;
  display: block;
  margin: 0 auto;
  position: absolute;
  background-color: #909090;
  height: 100px;
  width: 50%;
  border-radius: 10px;
  box-shadow: 10px 10px 10px;
}
.ligne_cat3
{
  top: 370px;
  display: block;
  margin: 0 auto;
  position: absolute;
  background-color: #909090;
  height: 100px;
  width: 50%;
  border-radius: 10px;
  box-shadow: 10px 10px 10px;
}
.ligne_cat4
{
  top: 480px;
  display: block;
  margin: 0 auto;
  position: absolute;
  background-color: #909090;
  height: 100px;
  width: 50%;
  border-radius: 10px;
  box-shadow: 10px 10px 10px;
}
.photo
{
  float: right;
    width: auto;
    height: 100%;
}
.unix
{
float: right;
  width: auto;
  height: 100%;
}
.graphic
{
  position: absolute;
  right: 0px;
  width: 50%;
  height: 100%;
}
.web
{
  position: absolute;
  right: 0px;
  width: 50%;
  height: 100%;
}
.algo
{
float: right;
  width: auto;
  height: 100%;
}
.error_login
{
  position: absolute;
  top: 450px;
  left: 550px;
}

.titre{
  position: absolute;
  top: 10%;
  left: 33%;
}
